main{
    background-color: black;
}
h1{
    text-align: left;
    color:rgb(228, 193, 229);
    position:relative;
    font-size: larger;
    font-weight: bold;
}
body{
    background-image: url(../media/aurafoto.jpg);
}