body{
    background-image: url(../media/aurafoto.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: left;
    color:rgb(228, 193, 229);
    position:relative;
    font-size: 3em;
    font-weight: bold;
    padding: 2em;
}
h2{
    font-size: 2em;
    text-align: center;
    padding: 1em;
}
#fillForm{
    background-color: rgb(228, 193, 229);
    align-items: center;
    margin:auto;
    display: block;
    height: 25%;
    width: 400px;
    padding: 1em;
    border-color: black;
}
#input-submit{
    display: block;
    width:95%;
    margin:auto;
    text-align: center;
}