body{
    background-image: url(../media/aurafoto.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: left;
    color:rgb(228, 193, 229);
    position:relative;
    font-size: 3em;
    font-weight: bolder;
    padding: 1em;
}
h2{
    font-size: 2em;
    text-align: center;
    padding: .8em;
    color:rgb(228, 193, 229);
    font-weight: bold;
}
#description{
    padding-bottom:.3em;
}
#fillForm{
    background-color: white;
    text-align: center;
    margin:auto;
    display: block;
    height: 100%;
    width: 350px;
    padding: 1em;
    border-color: black;
}
#fillForm li{
    display:flex;
    flex-direction:column;
    padding: 1em;
}
#fillForm li label{
    padding: 0.5em;
}
#fillForm li input{
    padding: 0.5em;
}
#input-submit{
    color: rgb(228, 193, 229);
    font-weight: bold;
}